body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.menu{
  height: 75vh;
}


#bpmn-container {
  /* This ensures that the parts of the diagram outside of the container are not displayed. */
  overflow: hidden;
  height: 75vh;
  border: solid;
  border-width: 1px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  background: #f9faf8;
  border-color: rgb(132, 127, 127);
  box-shadow:  rgba(0,0,0,0.4)
  10px 10px
  inset

}

#legend {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-pilih {
  background: #3e64ff;
  border-color: #3e64ff;
  color: #fff;
}
